<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!-- Revision mode overlay-->
<div class="news-enhancer news-enhancer-article-mode-revision">
    <div class="news-enhancer-article-mode">
        <button id="news-enhancer-article-mode-revision-navigation-backward">Previous diff</button>
        <span id="news-enhancer-article-mode-revision-navigation-progress"></span>
        <button id="news-enhancer-article-mode-revision-navigation-forward">Next diff</button>
    </div>
    <button id="news-enhancer-article-mode-revision-quit">Quit</button>
</div>

<!-- Report mode overlay-->
<div class="news-enhancer news-enhancer-article-mode-report">
    <div class="news-enhancer-article-menu">
        <button id="news-enhancer-article-mode-report-quit">Quit</button>
    </div>
</div>

<!-- Article overlay-->
<div class="news-enhancer news-enhancer-article">
    <img id="news-enhancer-article-icon" src=""/>
    <div class="news-enhancer-article-menu">
        <button id="news-enhancer-article-wordcloud-generate">Generate wordcloud</button>
        <button id="news-enhancer-article-revision-mode">Revision-Check</button>
        <button id="news-enhancer-article-short-summary">Submit summary</button>
        <button id="news-enhancer-article-meta-info">Meta info</button>
        <button id="news-enhancer-article-related-articles">Related articles</button>
        <button id="news-enhancer-article-report">Report as</button>
    </div>
</div>

<!-- Article Modal-->
<div class="news-enhancer news-enhancer-article-modal">

</div>

<!-- Article overlay-->
<div class="news-enhancer news-enhancer-article-overlay">

</div>


</body>
</html>
