<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template for headline information</title>
</head>
<body>
<!-- HEADLINE OVERLAY -->
<div class="news-enhancer news-enhancer-headline-overlay" id="news-enhancer-headline-overlay">
    <h2 class="news-enhancer-headline-overlay-title"></h2>
    <div class="news-enhancer-headline-overlay-content"></div>
</div>

<!-- HEADLINE ARTICLE OVERLAY -->
<div class="news-enhancer news-enhancer-headline-overlay-article-category-article">
    <i class="news-enhancer-headline-overlay-close fas fa-window-close fa-lg"></i>

    <div class="news-enhancer-headline-overlay-element">
        <strong>Title</strong> <span class="news-enhancer-headline-title"></span>
    </div>
    <div class="news-enhancer-headline-overlay-element">
        <strong>Sub title</strong> <span class="news-enhancer-headline-sub-title"></span>
    </div>
    <div class="news-enhancer-headline-overlay-element">
        <strong>Published</strong> <span class="news-enhancer-headline-created"></span>
    </div>
    <div class="news-enhancer-headline-overlay-element">
        <strong>Updated</strong> <span class="news-enhancer-headline-updated"></span>
    </div>
    <div class="news-enhancer-headline-overlay-element">
        <strong>Duration</strong> <span class="news-enhancer-headline-words"></span>
    </div>
    <div class="news-enhancer-headline-overlay-element">
        <strong>Author</strong> <span class="news-enhancer-headline-author"></span>
    </div>
    <div class="news-enhancer-headline-overlay-element">
        <strong>Summary</strong> <span class="news-enhancer-headline-summary"></span>
    </div>

    <div class="news-enhancer-headline-overlay-element news-enhancer-headline-overlay-tags"></div>

    <div class="news-enhancer-headline-overlay-element news-enhancer-headline-overlay-revision-mode">
        <h2 class="news-enhancer-headline-overlay-title">
            Headline revisions
        </h2>
        <div class="news-enhancer-headline-overlay-element">
            <strong>Title</strong> <span class="news-enhancer-headline-overlay-revision-mode-title"></span>
        </div>
        <div class="news-enhancer-headline-overlay-element">
            <strong>Sub title</strong> <span class="news-enhancer-headline-overlay-revision-mode-sub-title"></span>
        </div>
        <div class="news-enhancer-headline-overlay-revision-mode-navigation">
            <button class="news-enhancer-headline-overlay-revision-mode-navigation-backward">Previous diff</button>
            <span class="news-enhancer-headline-overlay-revision-mode-navigation-progress"></span>
            <button class="news-enhancer-headline-overlay-revision-mode-navigation-forward">Next diff</button>
        </div>
    </div>
</div>

<!-- Report item -->
<div class="news-enhancer-headline-report news-enhancer-headline-overlay-element">
    <h2 class="news-enhancer-headline-report-title"></h2>
    <div class="news-enhancer-table-container">
        <table class="news-enhancer-table-header" cellspacing="0" cellpadding="0">
            <tr>
                <td>Reason</td>
            </tr>
            <tr>
                <td>Reported</td>
            </tr>
        </table>
        <div class="news-enhancer-table-data-wrapper">
            <table class="news-enhancer-table-data" cellspacing="0" cellpadding="0"></table>
        </div>
    </div>
</div>


<!-- OVERLAY FEED -->
<div class="news-enhancer news-enhancer-headline-overlay-article-category-feed">
    <div class="news-enhancer-headline-overlay-element">
        <strong>Summary</strong> <span class="news-enhancer-headline-summary"></span>
    </div>
</div>

<!-- OVERLAY VIDEO -->
<div class="news-enhancer news-enhancer-headline-overlay-article-category-video">
    <div class="news-enhancer-headline-overlay-element">
        <strong>Summary</strong> <span class="news-enhancer-headline-summary"></span>
    </div>
</div>

<!-- OVERLAY External -->
<div class="news-enhancer news-enhancer-headline-overlay-article-category-external">
    <div class="news-enhancer-headline-overlay-element">
        <strong>Source</strong> <span class="news-enhancer-headline-source"></span>
    </div>
    <div class="news-enhancer-headline-overlay-element">
        <strong>Summary</strong> <span class="news-enhancer-headline-summary"></span>
    </div>
</div>
<!-- OVERLAY NOINFO -->
<div class="news-enhancer news-enhancer-headline-overlay-article-category-noInfo">
    Nothing yet :'(
</div>


<!-- HEADLINE MARK -->
<div class="news-enhancer news-enhancer-headline">
    <i class="news-enhancer-icon fas fa-info-circle"></i>
</div>

</body>
</html>