<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Modal-->
<div class="news-enhancer news-enhancer-modal"></div>

<!-- Modal close-->
<div class="news-enhancer news-enhancer-modal-close">
    <i class="fas fa-times fa-2x"></i>
</div>

<!-- Modal loading-->
<div class="news-enhancer news-enhancer-modal-loading">
    <h2>Loading content...</h2>
    <div class="news-enhancer-modal-loader-container">
        <div class="news-enhancer-modal-loader"></div>
    </div>
    <span></span>
</div>

<!-- Modal overlay-->
<div class="news-enhancer news-enhancer-modal-overlay">
</div>


</body>
</html>