<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Form for commenting on headlines and articles</title>
    </head>
    <body>
        <div class="news-enhancer news-enhancer-headline-submission-form">
            <h2 id="news-enhancer-submission-form-title"></h2>
            <form id="news-enhancer-headline-submission-form">
                <textarea rows="4" cols="50" name="name" required></textarea>
                <input type="submit" value="Submit">
                <input type="button" id="news-enhancer-submission-quit-button" value="Quit">
            </form>
        </div>
    </body>
</html>