.news-enhancer-wordcloud-button {
  border: 0;
  background: #424242;
  color: white;
  font-weight: bold; }

.news-enhancer-wordcloud-button:focus {
  outline: none; }

.news-enhancer-wordcloud-button:hover {
  border: 3px solid #424242;
  color: #424242;
  background: white; }

.news-enhancer-wordcloud-button:active {
  border: 1px solid #424242;
  color: #424242;
  font-weight: 100;
  background: white; }

